
.formacao-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.formacao-container .curso{
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s;
  cursor: pointer;
}
.formacao-container .curso .curso_nome{
  color: var(--destaque-inverso);
  font-weight: bold;
}

.formacao-container .curso .data_emissao{
  color: var(--texto);
}

.formacao-container .curso:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
}
.formacao-container .periodo{
  font-size: 0.7em;
  font-weight: bold;
  color: var(--texto);
}

.formacao-container .instituicao{
  color: var(--destaque);
  font-size: 1.1em;
}
.formacao-container .titulacao{
  color: var(--texto);  
}
