
#projeto-container{
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
#projeto-container .projeto{
  display: flex;
  flex-direction:column;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left:5px solid var(--destaque-inverso);
  transition: border-color 0.7s, border-width 0.4s;
}
#projeto-container .projeto:hover{
  border-color: var(--destaque);
  border-left-width: 15px ;
  cursor: pointer;
}

#projeto-container .foto{
  width: 80%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius:8px;
}
