
header {
  flex: 0 0 auto;
  background-color: var(--destaque);
  color: var(--texto);
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0%;
  z-index: 1;
}

header #menu ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}
header #menu ul li{
  display: flex;
  align-items: center;
}
#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.6s, color 0.5s;
}

#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

