
.container-hardskills{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  margin: 20px;
}
.container-hardskills .item{
  background-color: var(--destaque-inverso);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  color: var(--texto);
  transition: 0.4s;
  border-radius: 20px;
}
.container-hardskills .item:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 8px black;
}

.item .img-hardskill img{
  width: 50px;
  cursor: pointer;
}

.container-softskills{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  margin: 20px;
}
.container-softskills .item{
  background-color: var(--destaque-inverso);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  color: var(--texto);
  transition: 0.4s;
  border-radius: 20px;
}
.container-softskills .item:hover{
  transform: scale(1.1);
  box-shadow: 1px 1px 8px black;
}

